html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  background-color: $white;
  color: $black;
}

tr.bills-container {
}

.results-row {
  width: 100%;
}

table {
  width: 100%;
}
