.date-fields {
  .session-select {
    margin: 0;
    padding: 0;
    position: relative;
    // Keep borders specific to named fields since they vary so much
    border-bottom: $cream-dark solid 1px;
    select {
      z-index: 1; // make select above icon so it's clickable
      font-size: 17px;
    }
    .icon {
      z-index: 0;
      left: auto !important;
      right: -38px;
      i { font-size: 24px !important; }
    }
    &.inactive {
      select, .icon i { color: $grey; }
    }
  }
  .date-picker-fields {
    @include flex_display();
    // wrapper added by `react-date-picker`
    & > div {
      width: 50%;
      position: relative;
    }
    & > div:first-child:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      top: 10%;
      right: 0;
      background-color: $cream-dark;
    }
    input {
      font-size: 17px;
    }
    input.start-date-field {
      text-align: left;
    }
    input.end-date-field {
      text-align: right;
    }
  }
}
