.date-fields {
  .session-select {
    margin: 0;
    padding: 0;
    position: relative;
    // Keep borders specific to named fields since they vary so much
    border-bottom: $cream-dark solid 1px;
    select {
      z-index: 1; // make select above icon so it's clickable
      font-size: 17px;
    }
    .icon {
      z-index: 0;
      right: 15px;
      left: initial !important;
      i { font-size: 24px !important; }
    }
    &.inactive {
      select, .icon i { color: $grey; }
    }
  }
  .date-picker-fields {
    @include flex_display();
    // input wrapper added by `react-date-picker`
    & > div {
      width: 50%;
      position: relative;
    }
    & > div:first-child:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 70%;
      top: 15%;
      right: 0;
      background-color: $cream-dark;
    }
    // BEGIN `react-date-picker` actual picker divs
    .react-datepicker {
      font-family: "Lato", "Helvetica", sans-serif;
      box-shadow: 0px 0px 4px rgba(0,0,0,0.45);
      background-color: $white;
      border: none;
    }
    .react-datepicker__header {
      background-color: $cream-dark;
      border-bottom: none;
      padding-bottom: 6px;
    }
    .react-datepicker__today-button {
      background-color: $cream-dark;
      border-top: none;
      text-transform: uppercase;
    }
    .react-datepicker__day--selected {
      background-color: $magenta;
    }
    .react-datepicker__current-month {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      color: $text-black;
    }
    .start-date-field-wrapper .react-datepicker-popper {
      left: -5px !important;
    }
    .end-date-field-wrapper .react-datepicker-popper {
      left: -120px !important;
      .react-datepicker__triangle { left: initial; right: 50px !important; }
    }
    // END `react-date-picker` actual picker divs
    input {
      font-size: 17px;
    }
    input.start-date-field {
      text-align: left;
    }
    input.end-date-field {
      text-align: right;
    }
    .start-date-field-wrapper label {
      left: 0px;
    }
    .end-date-field-wrapper label {
      left: initial;
      right: 0px;
    }
  }
}
