header {
  @include flex_display();
  @include flex_justify_content(center);
  @include flex_align_items(center);
  box-shadow: 0px 0px 12px rgba(0,0,0,0.35);
  &.hide {
    display: none;
  }
  .logo {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
    a {
      color: lighten($text-black, 10);
    }
    text-align: center;
    padding: 0px 20px;
  }
}
