nav {
  position: absolute;
  right: 10px;
  @include flex_display();
  a.nav-item {
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 120px;
    text-align: center;
  }
  @include below($break-medium) {
    display: none;
  }
}
