.results-row-group {
  &.active {
    background: $white;


    border-bottom: $magenta solid 1px;
    td.sort { background: transparent; }

    // Adapt borders
    tr td:not(:first-child) {
      border-left-color: $magenta-lightest;
    }
    tr td {
      border-bottom-color: darken($magenta-lightest, 5);
    }
    tr.results-row-bills {
      .bills-table {
        // background: transparent;
        background: linear-gradient(90deg, $white 0%,
                                           $magenta-lightest 5%,
                                           $magenta-lightest 95%,
                                           $white 100%);
      }
      // box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
    }
  }
}
