.results-tabs {
  @include flex_display();
  @include flex_justify_content(space-evenly);
  @include flex_align_items(center);
  width: 100%;
  height: 110px;
  .results-tab-item {
    width: 160px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: $dark-grey;
    border: $light-grey solid 1px;
    border-radius: 20px;
    padding: 4px 0px;
    cursor: pointer;
    &.active {
      color: $magenta;
      border-color: $magenta-light;
    }
  }
}
