.results-tabs {
  width: 26%;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  @include flex_display();
  @include flex_justify_content(center);
  @include flex_direction(column);
  .results-tab-item {
    margin: 15px 0px 15px 70px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: $dark-grey;
    border: $light-grey solid 1px;
    border-radius: 20px;
    padding: 5px 0px;
    cursor: pointer;
    &.active {
      color: $magenta;
      border-color: $magenta-light;
    }
  }
}
