.results-table, .bills-table {
  width: 100%;
  min-width: $results-min-width;
  margin-top: 61px;
  .row {
    margin: 0;
    padding: 0;
    &.header {
      .cell {
        padding: 10px 15px 10px 15px;
        border-bottom: darken($light-grey, 6) solid 3px;
        font-family: "Alegreya", serif;
        color: $text-black;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: center;
        line-height: 1.1em;
        cursor: pointer;
        &.sort { border-bottom-color: lighten($magenta, 5); }
      }
    }
    // body and header
    .cell {
      position: relative;
      padding: 24px 10px;
      font-size: 13px;
      line-height: 150%;
      border-bottom: $lighter-grey solid 1px;
      // individual cells, both header and body
      &.employer { flex: 0 0 11%; }
      &.compensation { flex: 0 0 8%; }
      &.lobbyer { flex: 0 0 11%; }
      &.interests { flex: 0 0 27%; }
      &.matching_bills { flex: 0 0 11%; }
      &.start_date { flex: 0 0 8%; }
      &.end_date { flex: 0 0 8%; }
      &.filing_date { flex: 0 0 8%; }
      &.show-bills { flex: 0 0 8%; }
      &.start_date, &.end_date, &.filing_date {
        white-space: nowrap;
      }
      &.show-bills {
        padding: 0px;
        button {
          text-align: center;
          padding: 5px 0px 5px 20px;
          font-size: 12px;
          border-left: $light-grey solid 1px;
        }
      }
      &.sort {
        left: -1px;
        border-left: #f8f0fd solid 1px;
        border-right: #f8f0fd solid 1px;
        background-color: #FCFCFC;

      }
    }
  }
}

// Bills child table
.child-table {
  margin: 0;
}
