.row-group {
  &.active {
    border-top: darken($magenta-lightest, 7) solid 1px;
    top: -1px;
    z-index: 2;
    & > .row {
      background: linear-gradient(90deg, $white 0%,
                                         $magenta-lightest 5%,
                                         $magenta-lightest 95%,
                                         $white 100%);
    }
    // add a highlight marker
    &:before {
      content: "";
       position: absolute;
       z-index: 1;
       top: 2%;
       left: -20px;
       width: 2px;
       height: 95%;
       background-color: $magenta;
    }
    // add a curved shadow
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.28);
      top: 10px;
      bottom: 0px;
      left: 10px;
      right: 10px;
      border-radius: 100px / 10px;
    }
    .cell.sort { background: transparent; }
    // borders
    .row .cell {
      border-bottom-color: darken($magenta-lightest, 7);
    }
  }
}
