.results-table, .bills-table {
  width: 100%;
  margin-top: 61px;
  .row {
    margin: 0;
    padding: 0;
    &.header {
      .cell {
        padding: 10px 15px 10px 15px;
        border-bottom: darken($light-grey, 6) solid 3px;
        font-family: "Alegreya", serif;
        color: $text-black;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: center;
        line-height: 1.1em;
        cursor: pointer;
        &.sort { border-bottom-color: lighten($magenta, 5); }
      }
    }
    // body and header
    .cell {
      position: relative;
      padding: 24px 10px;
      font-size: 13px;
      line-height: 150%;
      border-bottom: $lighter-grey solid 1px;
      // individual cells, both header and body
      &.employer { flex: 0 0 11%; }
      &.compensation { flex: 0 0 9%; }
      &.lobbyer { flex: 0 0 11%; }
      &.interests { flex: 0 0 26%; }
      &.matching_bills { flex: 0 0 11%; }
      &.start_date { flex: 0 0 8%; }
      &.end_date { flex: 0 0 8%; }
      &.filing_date { flex: 0 0 8%; }
      &.show-bills { flex: 0 0 8%; }
      &.start_date, &.end_date, &.filing_date {
        white-space: nowrap;
      }
      &.show-bills {
        padding: 0px;
        button {
          text-align: center;
          padding: 5px 0px 5px 20px;
          font-size: 12px;
          border-left: $light-grey solid 1px;
        }
      }
      &.sort {
        left: -1px;
        border-left: #f8f0fd solid 1px;
        border-right: #f8f0fd solid 1px;
        background-color: #FCFCFC;

      }
    }
  }
}

// child table
.child-table {
  margin: 0;
  background: white;
  // header
  .tabs {
    @include flex_display;
    background-color: $white;
    margin: 0;
    padding: 0;
    .tab {
      flex: 1;
      width: 50%;
      margin: 0;
      padding: 7px 0px;
      list-style-type: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 0.04em;
      color: darken($grey, 5);
      border-bottom: $light-grey solid 1px;
      cursor: pointer;
      .tab-count {
        display: inline-block;
        border-radius: 10px;
        // border: $light-grey solid 1px;
        // background-color: lighten($grey, 5);
        color: darken($grey, 5);
        font-weight: 900;
        font-size: 12px;
        margin: 0 0px 0 0;
        padding: 9px 5px 0 5px;
        box-sizing: border-box;
        line-height: 0;
        min-width: 18px;
        height: 18px;
        text-align: center;
      }
      &.active {
        color: lighten($dark-grey, 0);
        border-bottom: none;
        .tab-count {
          color: $text-black;
        }
      }
    }
    & > li:first-child { // first .tab
      border-right: $light-grey solid 1px;
    }
  }
  // body
  .row {
    .cell {
      border-bottom-color: $light-grey;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 18px;
      height: 100%;
      @include flex_display;
      @include flex_align_items(center);
      font-size: 20px;
      color: $magenta;
    }
  }
  & > div:last-child .cell { // last row
    border-bottom: none;
  }
  &.highlighted {
    .row .cell  {

    }
    .row.highlight {
      position: relative;
      background-color: $white;
      .cell {
        // border-bottom-color: $magenta-light;
      }
      // &:before { // match tag
      //   content: "match";
      //   color: $white;
      //   font-size: 11px;
      //   font-weight: 600;
      //   text-align: center;
      //   text-transform: uppercase;;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 70px;
      //   height: 20px;
      //   padding: 0px 10px;
      //   box-sizing: border-box;
      //   background-color: $magenta;
      //   transform: rotate(90deg);
      // }
    }
  }
}
