.results-controls {
  height: 70px;
  @include flex_display();
  @include flex_justify_content(center);
  @include flex_align_items(center);
  border-top: $light-grey solid 1px;
  border-bottom: $light-grey solid 1px;
  position: relative;

  .filter-field {
    width: 75%;
    input {
      padding: 23px 10px 23px 55px;
      font-style: italic;
    }
    .icon {
      // XXX refactor these flex groups
      @include flex_display();
      @include flex_justify_content(center);
      @include flex_align_items(center);
      position: absolute;
      width: 55px;
      height: 100%;
      font-size: 27px;
      color: lighten($dark-grey, 10);
    }
  }
  .export-button {
    @include flex_display();
    @include flex_justify_content(start);
    @include flex_align_items(center);
    width: 25%;
    border-left: $light-grey solid 1px;
    padding: 10px 0;
    cursor: pointer;
    button, .icon {
      display: inline-block;
    }
    button {
      width: auto;
      padding: 0px;
    }
    .icon {
      text-align: center;
      width: 75px;
      height: 100%;
      font-size: 27px;
      color: lighten($dark-grey, 10);
    }
  }
}
