.results-table, .bills-table {
  width: 100%;
  margin-top: 47px; // align table header w session field
  .row {
    margin: 0;
    padding: 0;
    &.header {
      height: 57px;
      .cell {
        padding: 10px 15px 10px 15px;
        border-bottom: lighten($light-grey, 1) solid 3px;
        font-family: "Alegreya", serif;
        color: $text-black;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: center;
        line-height: 1.1em;
        cursor: pointer;
        &.sort {
          border-bottom-color: lighten($magenta, 5);
          background: transparent; }
        &.start_date:after { content: none }
      }
    }
    // body and header
    .cell {
      position: relative;
      padding: 24px 10px;
      font-size: 13px;
      line-height: 150%;
      border-bottom: $lighter-grey solid 1px;
      .cell-tag {
          position: absolute;
          bottom: 0px;
          left: 0px;
          padding: 5px 30px 4px 10px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 9px;
          letter-spacing: 0.1em;
          line-height: 120%;
          color: $dark-grey;
          background: transparent;
          // box-shadow: 1px -1px 4px rgba(0,0,0,0.1);
          border: $lighter-grey solid 1px;
          border-bottom: none;
          border-radius: 3px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          cursor: pointer;
      }
      // individual cells, both header and body
      &.employer { flex: 0 0 11%; }
      &.compensation { flex: 0 0 9%; }
      &.lobbyer { flex: 0 0 11%; }
      &.interests { flex: 0 0 28%; }
      &.matching_bills { flex: 0 0 11%; }
      &.start_date { flex: 0 0 8%; }
      &.end_date { flex: 0 0 8%; }
      &.filing_date { flex: 0 0 8%; }
      &.show-bills { flex: 0 0 8%; }
      &.start_date, &.end_date, &.filing_date {
        white-space: nowrap;
      }
      &.start_date, &.end_date {
        @include flex_justify_content(center);
      }
      &.start_date:after {
        @include flex_display();
        @include flex_align_items(center);
        content: "\2014";
        font-weight: 400;
        font-size: 18px;
        color: $gold;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -8px;
      }
      &.show-bills {
        padding: 0px;
        // background-color: aqua;
        .icon {
          text-align: center;
          width: 100%;
          font-size: 21px;
          // border-left: $light-grey solid 1px;
        }
      }
      &.sort {
        left: -1px;
        border-left: #f8f0fd solid 1px;
        border-right: #f8f0fd solid 1px;
        background-color: #FCFCFC;
      }
    }
  }
  &.fetching {
    .row {
      border-bottom: lighten($lighter-grey, 1) solid 1px;
      padding: 30px 30px;
      &.header {
        border-bottom-width: 3px;
        padding: 10px 30px;
        box-sizing: border-box;
      }
      .cell {
        border: none;
        padding: 0px;
        height: 23px !important;
        display: block;
        background-color: $lighter-grey;
        border-radius: 15px;
        animation: pulsing 0.7s alternate infinite;
      }
    }
  }
}

// child table
.child-table {
  margin: 0;
  background: white;
  // header
  .tabs {
    @include flex_display;
    background-color: $white;
    margin: 0;
    padding: 0;
    .tab {
      flex: 1;
      width: 50%;
      margin: 0;
      padding: 7px 0px;
      list-style-type: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 0.04em;
      color: darken($grey, 5);
      border-bottom: $light-grey solid 1px;
      cursor: pointer;
      .tab-count {
        display: inline-block;
        border-radius: 10px;
        // border: $light-grey solid 1px;
        // background-color: lighten($grey, 5);
        color: darken($grey, 5);
        font-weight: 900;
        font-size: 12px;
        margin: 0 0px 0 0;
        padding: 9px 5px 0 5px;
        box-sizing: border-box;
        line-height: 0;
        min-width: 18px;
        height: 18px;
        text-align: center;
      }
      &.active {
        color: lighten($dark-grey, 0);
        border-bottom: none;
        .tab-count {
          color: $text-black;
        }
      }
    }
    & > li:first-child { // first .tab
      border-right: $light-grey solid 1px;
    }
  }
  // body
  .row {
    .cell {
      border-bottom-color: $light-grey;
    }
    .icon { // filter icon for matches
      position: absolute;
      top: 0;
      right: 18px;
      width: 20px;
      height: 100%;
      @include flex_display;
      @include flex_align_items(center);
      font-size: 20px;
      color: $magenta;
      svg path { stroke: $magenta }
    }
  }
  & > div:last-child .cell { // last row
    border-bottom: none;
  }
  &.highlighted {
    .row.highlight {
      position: relative;
      background-color: $white;
    }
  }
}
