.search-form {
  background-color: $cream;
  box-sizing: border-box;
  padding: 0px 30px 20px 30px;
  section {
    border-bottom: $cream-dark solid 1px;
    h3 {
      margin: 0;
      padding: 10px 0px;
      border-bottom: $cream-dark solid 1px;
    }
    .fields {
      margin-left: 60px;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: -60px;
        width: 60px;
        height: 100%;
        @include flex_display();
        @include flex_align_items(center);
        i {
          font-size: 33px;
          color: $dark-grey;
        }
      }
      // Keep borders specific to named fields since so many exceptions
      input.bill-field, select.session-select {
        border-bottom: $cream-dark solid 1px;
      }
    }
    &.text-fields {

    }
    &.date-fields {
      select.session-select {
        font-size: 17px;
      }
      .date-picker-fields {
        @include flex_display();
        // wrapper added by `react-date-picker`
        & > div {
          width: 50%;
          position: relative;
        }
        & > div:first-child:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 80%;
          top: 10%;
          right: 0;
          background-color: $cream-dark;
        }
        input {
          font-size: 17px;
        }
        input.start-date-field {
          text-align: left;
        }
        input.end-date-field {
          text-align: right;
        }
      }
    }

  }
  .submit-button {
    padding: 23px 0px;
    margin: 35px auto 35px auto;
    background-color: $magenta;
    border: $magenta-dark solid 1px;
    border-radius: 3px;
    color: $white;
  }
}
