.search-form {
  background-color: $cream;
  box-sizing: border-box;
  padding: 0px 30px 20px 30px;
  section {
    border-bottom: $cream-dark solid 1px;
    h3 {
      margin: 0;
      padding: 10px 0px;
      border-bottom: $cream-dark solid 1px;
    }
    .fields {
      margin-left: 60px;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: -60px;
        width: 60px;
        height: 100%;
        @include flex_display();
        @include flex_align_items(center);
        i {
          font-size: 33px;
          color: $dark-grey;
        }
      }
    }
  }
}
