.search-form {
  background-color: $cream;
  box-sizing: border-box;
  padding: 0px 30px 20px 30px;
  section {
    border-bottom: $cream-dark solid 1px;
    h3 {
      margin: 0;
      padding: 10px 0px;
      border-bottom: $cream-dark solid 1px;
    }
    .fields {
      margin-left: 60px;
      position: relative;
      .icon {
        // background-color: aqua;
        top: 0;
        left: -60px;
        width: 30px;
        i {
          font-size: 33px;
          color: $dark-grey;
        }
      }
    }
  }
  &:after { // caret icon
    content: "";
    position: fixed;
    z-index: 0;
    top: 625px;
    left: $sidebar-width - 8px;
    width: 16px;
    height: 16px;
    background-color: $white;
    transform: rotate(45deg);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
  }
}
