.submit-button-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  .submit-button {
    padding: 23px 0px;
    margin: 35px auto 35px auto;
    background-color: $magenta;
    border: $magenta-dark solid 1px;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    transition: 0.2s;
    // box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  &.fetching {
    .submit-button {
      opacity: 0.8;
    }
    .icon {
      color: $white;
      font-size: 24px;
      svg {
        opacity: 0.6;
        path { stroke: $white };
      }
      i, svg {
        animation: spinning 1.5s linear infinite;
      }
    }
  }
}
