html, body {
  margin: 0;
  padding: 0;
  color: $text-black;
  background-color: $white;
	font-family: "Lato", sans-serif;
	line-height: 1.4em;
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

h1 {
  font-family: "Alegreya", "Lato", serif;
}
h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.01em;
  b { font-weight: 600; }
}
h3 {
  color: $dark-grey;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  outline: none;
  color: $peach;
}

// table {
//   width: 100%;
//   td {
//     word-wrap: break-word;
//   }
// }
