$white: #FFFFFF;
$black: #101010;
$text-black: #404040;

$magenta: #E66091;
$magenta-light: #E66091;
$magenta-dark: #C4527C;
$peach: #F58A87;
$cream: #FBFBF5;
$cream-dark: #E7E7DF;

$grey: #B2B2B2;
$dark-grey: #737373;
$light-grey: #E7E5E5;
$lighter-grey: #F0F0F0;
