input, button, select {
  outline: none;
  display: block;
  width: 100%;
  padding: 35px 0px;
  box-sizing: border-box;
  background: transparent;
  color: $dark-grey;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  border: none;
  border-bottom: $light-grey solid 1px;
  // Placeholder text
  &::-webkit-input-placeholder { @include placeholder(); } // Chrome/Opera/Safari
  &::-moz-placeholder { @include placeholder(); } // Firefox 19+
  &:-ms-input-placeholder { @include placeholder(); } // IE 10+
  &:-moz-placeholder { @include placeholder(); } // Firefox 18-
}
// Nudge `react-datepicker` styles
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100% !important;
}

select {
  height: 100px;
}

.submit-button {
  padding: 23px 0px;
  color: $white;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background-color: $magenta;
  border: $magenta-dark solid 1px;
  border-radius: 3px;
}
