input, button, select {
  position: relative;
  outline: none;
  display: block;
  width: 100%;
  padding: 39px 0px;
  box-sizing: border-box;
  background: transparent;
  color: $dark-grey;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  border: none;
  // Placeholder text
  &::-webkit-input-placeholder { color: $grey;  } // Chrome/Opera/Safari
  &::-moz-placeholder { color: $grey;  } // Firefox 19+
  &:-ms-input-placeholder { color: $grey;  } // IE 10+
  &:-moz-placeholder { color: $grey;  } // Firefox 18-
  &.inactive {
    color: $grey;
  }
}
// Nudge `react-datepicker` styles
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100% !important;
}

select {
  height: 100px;
  -webkit-appearance: none; // remove extra text indent added by browsers
  -moz-appearance: none;
  &::-ms-expand { // IE 10-11 and Edge
    display: none;
  }
}

.button {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.field-wrapper {
  margin: 0;
  padding: 0;
}
