input, button, select {
  position: relative;
  outline: none;
  display: block;
  width: 100%;
  padding: 39px 0px;
  box-sizing: border-box;
  background: transparent;
  color: $text-black;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  // letter-spacing: -0.03em;
  border: none;
  // Placeholder text
  &::-webkit-input-placeholder { color: $grey;  } // Chrome/Opera/Safari
  &::-moz-placeholder { color: $grey;  } // Firefox 19+
  &:-ms-input-placeholder { color: $grey;  } // IE 10+
  &:-moz-placeholder { color: $grey;  } // Firefox 18-
  &.inactive {
    color: $grey;
  }
}
// Nudge `react-datepicker` styles
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100% !important;
}

select {
  height: 100px;
  -webkit-appearance: none; // remove extra text indent added by browsers
  -moz-appearance: none;
  &::-ms-expand { // IE 10-11 and Edge
    display: none;
  }
}

.button {
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  cursor: pointer;
}
.button-block {
  text-align: center;
  .button {
    display: inline-block;
    margin: 0px 20px;
  }
}

.field-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  label, .errors {
    position: absolute;
    left: 0px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 130%;
    font-size: 11px;
    font-weight: 600;
    transition: 0.3s;
    opacity: 0;
  }
  label {
    top: 10px;
    color: $gold-light;
  }
  .errors {
    bottom: 7px;
    color: $magenta;
    display: none;
  }
  &.active {
    label {
      opacity: 1;
    }
  }
  &.error {
    .errors {
      opacity: 1;
    }
  }
}
