header, main, footer,
.search-form, .results {
  position: relative;
  display: block;
}

header {
  width: 100%;
  height: $header-height;
  background-color: $white;
  position: fixed;
  z-index: 2;
}
main {
  position: absolute;
  padding: $header-height 0 0 0;
  @include flex_display();
  flex-direction: row;
  z-index: 0;
  width: 100%;
  min-height: 100%;

  .search-form {
    display: block;
    z-index: 0;
    flex: 0 0 $sidebar-width; // no growing nor shrinking
  }
  .results {
    display: block;
    z-index: 1;
    flex: auto;
  }
}

footer {
  z-index: 1;
}
