// Simulated tables using divs and flexbox.
// We do this to get much more styling flexibility than table displays allow.
.table {
  .row {
    display: flex;
    .cell {
      // handle layout
      display: flex;
      flex: 1;
      align-items: center;
      box-sizing: border-box;
      // handle borders
      border-bottom: $light-grey solid 1px;
      // border-right: $grey solid 1px; // use this to troubleshoot column misalignment
      // need these two lines to make flex heed break-word in .cell
      overflow-wrap: break-word;
      min-width: 0;
      span, a { min-width: 0; }
    }
    &.header {
      .cell {
        justify-content: left;
      }
    }
  }
  .row-group {
    position: relative;
  }
  // must handle last child borders this way since using classes
  .row > div:last-child { // last cell in row
    // border-right: none;
  }
  & > div:last-child > div:last-child > .cell { // cells in last row of last row group
    border-bottom: none;
  }
}
